# ─────────────────────────────────────────────
# LevelUp AI Career Mentor — Environment Config
# ─────────────────────────────────────────────

# Backend
MONGODB_URL=mongodb+srv://prachijamdade84_db_user:<db_password>@cluster0.3apxfvi.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=levelup
UPLOAD_DIR=uploads/resumes
MAX_FILE_SIZE_MB=10
DEMO_MODE=false
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE_HOURS=24
REDIS_URL=redis://localhost:6379

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXTAUTH_SECRET=your_nextauth_secret_change_in_production
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
